<div id="Stores" class="list-group" style="width:93%;">
</div>

<div class="storeLetters">
  <p style="font-size:11px">
     <a class="storeLetters" href="#A">A</a><br/>
     <a class="storeLetters" href="#B">B</a><br/>
     <a class="storeLetters" href="#C">C</a><br/>
     <a class="storeLetters" href="#D">D</a><br/>
     <a class="storeLetters" href="#E">E</a><br/>
     <a class="storeLetters" href="#F">F</a><br/>
     <a class="storeLetters" href="#G">G</a><br/>
     <a class="storeLetters" href="#H">H</a><br/>
     <a class="storeLetters" href="#I">I</a><br/>
     <a class="storeLetters" href="#J">J</a><br/>
     <a class="storeLetters" href="#K">K</a><br/>
     <a class="storeLetters" href="#L">L</a><br/>
     <a class="storeLetters" href="#M">M</a><br/>
     <a class="storeLetters" href="#N">N</a><br/>
     <a class="storeLetters" href="#O">O</a><br/>
     <a class="storeLetters" href="#P">P</a><br/>
     <a class="storeLetters" href="#Q">Q</a><br/>
     <a class="storeLetters" href="#R">R</a><br/>
     <a class="storeLetters" href="#S">S</a><br/>
     <a class="storeLetters" href="#T">T</a><br/>
     <a class="storeLetters" href="#U">U</a><br/>
     <a class="storeLetters" href="#V">V</a><br/>
     <a class="storeLetters" href="#W">W</a><br/>
     <a class="storeLetters" href="#X">X</a><br/>
     <a class="storeLetters" href="#Y">Y</a><br/>
     <a class="storeLetters" href="#Z">Z</a><br/>
  </p>
</div>