<div id="Settings" data-role="page">
  <div data-role="header">
  <h1>City Selection</h1>
  </div>

  <div data-role="main" class="ui-content">  
    <fieldset class="ui-field-contain">
      <label for="day">Select Your City Below</label>
      <select name="day" id="day" data-native-menu="false">
        <option value="calgary">Calgary</option>
        <option value="edmonton">Edmonton</option>
        <option value="montreal">Montreal</option>
        <option value="ottawa">Ottawa</option>
        <option value="toronto">Toronto</option>
        <option value="vancouver">Vancouver</option>
      </select>
    </fieldset>
    <input id="saveCity" type="submit" data-inline="true" value="Submit">
  </div>
</div>