<div class="scrollingPremium">
  <div id="FlippingDeals" class="cycle-slideshow"
      data-cycle-fx=scrollHorz
      data-cycle-swipe=true
      data-cycle-swipe-fx=scrollHorz
      style="margin-bottom: 3em;">
    <img class="img-responsive" src="http://54.165.19.180/Sales/Images/Flipping-Deal1.jpg" onClick="openLayer('#')">
    <img class="img-responsive" src="http://54.165.19.180/Sales/Images/Flipping-Deal2.jpg" onClick="openLayer('#')">
    <img class="img-responsive" src="http://54.165.19.180/Sales/Images/Flipping-Deal3.jpg" onClick="openLayer('#')">
  </div>
</div>

<div id="Sales" class="list-group" style="margin-top:40%">
</div>